# Copy this file into a new file called ".env" in the root of the project.
# The dotenv gem will load the contents of .env into the environment when
# Rails starts. Access values like this: ENV["RAILS_SECRET_KEY_BASE"]
#
# The purpose of this file is to keep secrets out of source control.
# For more information, see: https://github.com/bkeepers/dotenv

RAILS_SECRET_KEY_BASE=de4d9e0aa742ee0072bbdcb6203e9399fb134be77912e85f20d055cbbc20067291597e220eb29b0baff00a89c24ba83301fc8945216b47332cc50100db76a89f
REDIS_URL=redis://localhost:6379/5
SIDEKIQ_WEB_USERNAME=admin
SIDEKIQ_WEB_PASSWORD=password
