.jpy {
  background-image: url("/ensigns/jpy.png");
  width: 20px;
  height: 20px;
  background-size: 20px 20px;
  background-repeat: no-repeat;
}

.cny {
  background: url("/ensigns/cny.png");
  width: 20px;
  height: 20px;
  background-size: 20px 20px;
  background-repeat: no-repeat;
}

.exchange_currency {
  text-align: center;
  margin-bottom: 15px;
}

.from_ensign, .to_ensign {
  display: inline-block;
  padding: 6px 12px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1;
  color: #555555;
  text-align: center;
  background-color: #eeeeee;
  border: 1px solid #ccc;
  border-radius: 4px;
  vertical-align: middle;
  border-left: 0px;
}

.transfer_form_info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  flex-wrap: wrap;
}

.transfer_form_col {
  display: flex;
  flex-direction: column;
  border-right: solid 1px;
}

#modal_transfer_new {
  width: 600px;
  height: 200px;
  text-align: center;
  vertical-align: middle;
  margin: auto;
  background-color: white;
}
.mb-10 {
  margin-bottom: 10px;
}

.label-column {
  width: 45%;
}
.value-column {
  width: 55%;
}
